/**
 * FONTS DECLARATIONS.
 * Best Practices Guide 2016
 * https://neonstud.io/blog/design/font-face-best-practices-guide-2016/
 */
@font-face {
  font-family: 'Lato Cyr';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/lato-light.eot');
  src:
    local('Lato Light'),
    /**
     * Check computer again using a different spelling.
     * https://webdevstudios.com/2016/05/26/css-font-face-2016-edition/
     */
    local('Lato-Light'),
    local('latolight'),

    url('fonts/lato-light.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-light.woff2') format('woff2'),
    url('fonts/lato-light.svg#latoregular') format('svg'),
    url('fonts/lato-light.otf') format('opentype'),
    url('fonts/lato-light.ttf') format('truetype'),
    url('fonts/lato-light.woff') format('woff');
}

@font-face {
  font-family: 'Lato Cyr';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/lato-regular.eot');
  src:
    local('Lato Regular'),
    /**
     * Check computer again using a different spelling.
     * https://webdevstudios.com/2016/05/26/css-font-face-2016-edition/
     */
    local('Lato-Regular'),
    local('latoregular'),

    url('fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-regular.woff2') format('woff2'),
    url('fonts/lato-regular.svg#latoregular') format('svg'),
    url('fonts/lato-regular.otf') format('opentype'),
    url('fonts/lato-regular.ttf') format('truetype'),
    url('fonts/lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato Cyr';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/lato-medium.eot');
  src:
    local('Lato Medium'),
    /**
     * Check computer again using a different spelling.
     * https://webdevstudios.com/2016/05/26/css-font-face-2016-edition/
     */
    local('Lato-Medium'),
    local('latomedium'),

    url('fonts/lato-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-medium.woff2') format('woff2'),
    url('fonts/lato-medium.svg#latoregular') format('svg'),
    url('fonts/lato-medium.otf') format('opentype'),
    url('fonts/lato-medium.ttf') format('truetype'),
    url('fonts/lato-medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato Cyr';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/lato-bold.eot');
  src:
    local('Lato Bold'),
    /**
     * Check computer again using a different spelling.
     * https://webdevstudios.com/2016/05/26/css-font-face-2016-edition/
     */
    local('Lato-Bold'),
    local('latobold'),

    url('fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-bold.woff2') format('woff2'),
    url('fonts/lato-bold.svg#latoregular') format('svg'),
    url('fonts/lato-bold.otf') format('opentype'),
    url('fonts/lato-bold.ttf') format('truetype'),
    url('fonts/lato-bold.woff') format('woff');
}

/**
 * Forcing some older versions of Chrome on Windows
 * to load the .svg fonts instead of the .woff ones.
 *
 * https://neonstud.io/blog/design/font-face-best-practices-guide-2016/
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato Cyr';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/lato-light.svg') format('svg');
  }

  @font-face {
    font-family: 'Lato Cyr';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/lato-regular.svg') format('svg');
  }

  @font-face {
    font-family: 'Lato Cyr';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/lato-medium.svg') format('svg');
  }

  @font-face {
    font-family: 'Lato Cyr';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/lato-bold.svg') format('svg');
  }
}


/**
* Global styles.
*/
body {
  font-family: 'Lato Cyr', serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  font-weight: 400;
}


/**
* Service blocks.
*/
.icon {
  background-image: url("img/sprites.png");
  background-repeat: no-repeat;
}

.login-btn {
  border: none;
  padding: 0;
}

.login-btn_color_blue {
  background-color: #4186d3;
}

.login-btn_color_blue:hover {
  background-color: #5bc0de;
}

.login-btn_color_orange {
  background-color: #ff6400;
  color: #fff;
}

.login-btn_color_orange:hover {
  background-color: #d58512;
}

.logo {
  display: inline-block;
}

.logo_color_orange {
  background-position: -139px 0;
}

.logo_size_bg {
  width: 128px;
  height: 60px;
}

.main-menu {
  list-style: none;
}

.main-menu__item {
  display: inline-block;
  margin-left: 27px;
}

.main-menu__link {
  display: inline-block;
  padding: 13px 0;
  font-size: 13pt;
  font-weight: 700;
}

.main-menu__link_theme_yellow {
  color: #859100;
}

.main-menu__link_theme_yellow:hover,
.main-menu__link_theme_yellow:focus {
  color: #000;
}

.phone {
  font-size: 16px;
  line-height: 19px;
  vertical-align: middle;
}

.phone__icon {
  display: inline-block;
  vertical-align: text-bottom;
}

.phone__link {
  display: inline-block;
  color: inherit;
  padding: 5px;
}

.phone__link:hover,
.phone__link:focus {
  background-color: #e5e5e5;
  border-radius: 3px;
}

.title {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.075em;
  text-transform: Uppercase;
}


/**
* Main header.
*/
.top-bar {
  height: 40px;
}

.top-bar__title {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 5px;
  height: 40px;
}

.top-bar__phone {
  padding: 5px 15px 5px 65px;
  height: 40px;
}

.top-bar__phone-icon {
  background-position: -250px -102px;
  width: 20px;
  height: 20px;
}

.top-bar__login {
  padding-left: 70px;
  height: 40px;
}

.top-bar__login-btn {
  font-size: 12px;
  line-height: 18.66px;
  letter-spacing: 0.025em;
  font-weight: 700;
  text-transform: Uppercase;
  width: 160px;
  height: 40px;
}

.nav-bar {
  background-color: #f1fd72;
  border-bottom: 5px #b0bc2f solid;
  height: 105px;
}

.nav-bar__logo {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}

.nav-bar__menu {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  height: 100px;
}


/**
 * Main slider (the Bootstrap component).
 */

.main-slider {
}

.main-slider__button {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  width: 210px;
  height: 50px;
  margin: 5px;
}

.main-slider__caption {
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.55);
}


.main-slider__ctrl-next {
  left: 50% !important;
  right: unset !important;
  margin-left: 472px;
}

.main-slider__ctrl-prev {
  right: 50% !important;
  left: unset !important;
  margin-right: 472px;
}

.main-slider__ctrl-icon {
  display: block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 37px;
  margin-left: -10px;
}

.main-slider__ctrl-icon_next {
  background-position: -87px 0;
  left: 70px;
}

.main-slider__ctrl-icon_prev {
  background-position: -112px 0;
  right: 70px;
}

.main-slider__header {
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
}

.main-slider__img {
  width: 100%;
  object-fit: cover;
  max-height: 480px;
}

.main-slider__infoblock {
  position: absolute;
  right: 90px;
  width: 380px;
  padding-top: 33px;
  text-align: start;
  text-shadow: none;
}

.main-slider__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 5px 3px;
  margin: 1em 0;
}


/**
 * Features.
 * Navigation block.
 */
.features {padding-bottom: 85px;}

.features__nav-block {
  background-color: #fdffd5;
}

.features__nav-bar {
  height: 187px;
  margin-top: 0;
  border: none;
}

.features__nav-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.features__nav-icon-container {
  position: relative;
  width: 120px;
  height: 73px;
}

.features__nav-icon-container_last {
  margin-left: -12px;
}

.features__nav-item {
  height: 187px;
}

.features__nav-link {
  width: 100%;
  height: 187px;
  padding: 32px 40px 10px 60px !important;
  color: inherit;
  font-size: 16px;
  line-height: 20px !important;
  border-radius: 0 !important;
  border: none !important;
}

.features__nav-link:hover {
  background-color: #edf1ad !important;
  color: inherit;
}

.active .features__nav-link {
  background-color: #fff !important;
  height: 155px;
  margin-top: 32px;
  padding-top: 5px !important;
  border: none !important;
}

.active .features__nav-link::before {
  content: "";
  height: 0;
  width: 100%;
  position: absolute;
  right: 0;
  top: -32px;
  border-bottom: 32px solid #fff;
  border-left: 32px solid transparent;
}

.active .features__nav-link::after {
  content: "";
  height: 32px;
  width: 33px;
  position: absolute;
  left: 0;
  top: -32px;
  background-image: url('img/sprites.png');
  background-repeat: no-repeat;
  background-position: -37px -150px;
}

.features__nav-name {
  display: block;
  width: 97px;
  text-align: center;
  margin: 1em 0;
}


/**
 * Features.
 * Content block.
 */
.features__content-block {
}

.features__content-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.features__content-header {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  padding-top: 35px;
  margin-top: 0.83em;
  margin-bottom: 0.4em;
}

.features__content-paragraph {
  width: 330px;
  font-size: 14px;
  line-height: 19px;
  margin: 1em 0;
}

.features__content-list {  margin: 1em 0;
}

.features__content-list-item {
  color: #95a300;
  line-height: 19px;
  margin-bottom: 6px;
}

.features__content-list-text {
  color: #000;
}

.features__content-img {
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  margin-top: 0.83em;
  padding-top: 30px;
  object-fit: none;
  margin-left: -20px;
}

.features__content-img-caption {
  display: inline-block;
  position: absolute;
  top: 81%;
  left: 10%;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
}

.features__content-bottom-img {
  display: inline-block;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0.83em;
  width: 460px;
  object-fit: none;
}

.features__content-bottom-header {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  width: 450px;
  margin: 0.83em 0;
}

.features__content-bottom-paragraph {
  font-size:14px;
  line-height: 19px;
  width: 450px;
  margin: 1em 0;
}


/**
 * About service block.
 */
.about-service {
  background-color: #f2f9ff;
}

.about-service__header-block {
}

.about-service__header {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
  width: 460px;
  margin: 40px auto 5px;
}

.about-service__header-tm {
  font-size: 30px;
  line-height: 37px;
}

.about-service__header-details {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 460px;
  margin: 0 auto;
}

.about-service__content-block {
  margin-top: 50px;
  padding-bottom: 35px;
}

.about-service__icon {
  height: 75px;
  margin-bottom: 20px;
}

.about-service__icon_1 {
  background-position: -86px -76px;
  width: 73px;
  padding-bottom: 3px;
}

.about-service__icon_2 {
  background-position: -165px -75px;
  width: 72px;
  padding-bottom: 8px;
}

.about-service__icon_3 {
  background-position: 0 -76px;
  width: 80px;
  padding-bottom: 12px;
}

.about-service__content-header {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  font-weight: 500;
  margin: 0;
}

.about-service__content-details {
  color: #0d56a6;
  font-size: 14px;
  line-height: 19px;
  width: 260px;
  margin: 1em 0;
}



/**
 * Rates block.
 */
.rates {
  background-color: #fdffd5;
  text-align: center;
}

.rates-header {
  margin-bottom: 33px;
}

.rates-header__header {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  color: #ff6400;
  margin: 40px auto 35px;
}

.rates-options {font-size: 16px;line-height: 23px;font-weight: 500;letter-spacing: 0.025em;}

.rates-options__inner {}

.rates-options__inner::before {
  content: "";
  height: 0;
  width: 299.984px;
  position: absolute;
  right: 10px;
  top: -29px;
  border-bottom: 30px solid #ff6400;
  border-left: 30px solid transparent;
  /* margin: 0 10px; */
}

.rates-options__inner::after {
  content: "";
  height: 32px;
  width: 33px;
  position: absolute;
  left: 10px;
  top: -30px;
  background-image: url('img/sprites.png');
  background-repeat: no-repeat;
  background-position: 0 -150px;
}

.rates-options__top-block {
  background-color: #ff6400;
  color: #fff;
  height: 120px;
}

.rates-options__header {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.rates-options__price {
  margin-bottom: 5px;
}

.rates-options__value {
  font-size: 48px;
}

.rates-options__currency {
  font-size: 30px;
}

.rates-options__period {
}

.rates-options__middle-block {
  height: 40px;
  line-height: 40px;
  background-color: #ffbf96;
  color: #a64100;
  text-transform: uppercase;
}

.rates-options__bottom-block {
  background-color: #fff;
  padding-bottom: 35px;
}

.rates-options__list {
  list-style-type: none;
  margin: 0;
  padding: 35px 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.rates-options__list-item {
  margin-bottom: 8px;
}

.rates-options__button {
  color: #fff;
  text-transform: uppercase;
  width: 195px;
  height: 55px;
  margin-top: -8px;
}

.contract {  padding-top: 45px;
}

.contract__header {
  color: #ff6400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-top: 0;
  margin-bottom: 12px;
}

.contract__paragraph {
  width: 760px;
  padding-top: 5px;
  padding-bottom: 40px;
  margin: 0 auto;
}


/**
 * Templates.
 */
.templates {
}

.templates-header {
}

.templates-header__header {
  color: #95a300;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
  margin: 40px auto;
}

.templates-examples {
}

.templates-item {
  background-color: transparent;
  border: none;
  padding: 0;
}

.templates-item__img {
  opacity: 1;
  transition: all 0.5s ease;
}

.templates-item:hover .templates-item__img {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.templates-item__header {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin: 20px auto 0;
}

.templates-item__details {
  display: block;
  color: #95a300;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.templates-item:hover .templates-item__details {
  color: #000;
}

.modal-content {
  padding: 10px;
}

.modal-content__img {
  width: 100%;
}


/**
 * Clients.
 */
.clients {
  padding-top: 65px;
}

.clients-header {
  background: url('img/shape_150_copy_12.png') no-repeat 146px 1px;
  height: 285px;
  padding-top: 55px;
  text-align: center;
}

.clients-header__header {
  color: #717c00;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 25px auto 20px;
}

.clients-header__count {
  font-size: 50px;
  line-height: 45px;
  letter-spacing: 0.025em;
}

.clients-header__units {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.025em;
}

.clients-examples {
  height: 320px;
}

.clients-item {
  position: absolute;
  text-align: center;
}

.clients-item::after {
  content: "";
  width: 30px;
  height: 29px;
  position: absolute;
  background-image: url('img/sprites.png');
  background-repeat: no-repeat;
  background-position: -105px -43px;
  top: 176px;
  left: 150px;
}
.clients-item:hover {
  color: #4186d3;
}

.clients-item:hover .clients-item__img {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.clients-item_1 {
  top: -158px;
  left: 17px;
}

.clients-item_2 {
  top: 0px;
  left: 236px;
}

.clients-item_3 {
  top: 0;
  left: 514px;
}

.clients-item_4 {
  top: -157px;
  left: 734px;
}

.clients-item__img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  opacity: 1;
  transition: all 0.5s ease;
}

.clients-item__img_1 {
  background-image: url('img/layer_51.png');
  background-position: -37px -4px;
}
.clients-item__img_2 {
  background-image: url('img/layer_52.png');
  background-position: -45px 0px;
}

.clients-item__img_3 {
  background-image: url('img/layer_53.png');
  background-position: -25px -4px;
}

.clients-item__img_4 {
  background-image: url('img/layer_54.png');
  background-position: -32px 0px;
}

.clients-item__caption {
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
}

.clients-map {
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 35px;
}

.clients-map__link {
  display: inline-block;
  color: #4186d3;
  padding: 10px;
  margin-left: -25px;
}

.clients-map__link::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 19px;
  background-image: url('img/sprites.png');
  background-repeat: no-repeat;
  background-position: -253px -70px;
  margin-right: 9px;
  opacity: 0.85;
}

.clients-map__link:hover::before {
  opacity: 1;
}


/**
 * News and feedback.
 */
.news-and-feedback {
  height: 708px;
  background: linear-gradient(to right, #f2f9ff 50%, #ffece0 50%);
  /* background-image: url('img/layer_56.png'); */
  /* background-size: cover; */
}

.news-and-feedback__header {
  font-size: 22px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 40px auto 27px;
}


/**
 * News.
 */
.news-header{
  color: #4186d3;
}

.news-item {
  width: 410px;
  margin-bottom: 45px;
}

.news-item__link {
  display: block;
  color: inherit;
}

.news-item__link:hover {
  opacity: 0.7;
  color: inherit;
}

.news-item__header {
  color: #4186d3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin: 0 0 10px;
}

.news-item__content {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 8px;
}

.news-item__date {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.05em;
}


/**
 * Feedback.
 */
.feedback-header {
  color: #ff6400;
  text-align: center;
}

.feedback-slider {
  padding-left: 60px;
  top: -9px;
}

.feedback-slider__article {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 15px;
  width: 400px;
  height: 428px;
}

.feedback-slider__bubble {
  height: 0px;
  width: 20px;
  position: absolute;
  left: 320px;
  top: -30px;
  border-bottom: 30px solid #fff;
  border-right: 20px solid transparent;
}

.feedback-slider__content {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  padding: 46px 48px 17px 50px;
  margin: 0;
}

.feedback-slider__address {
  color: #ff6400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.05em;
  font-style: normal;
  text-transform: uppercase;
  margin-left: 50px;
}

.feedback-slider__controls {
  display: inline-block;
  padding: 10px;
  margin-top: 32px;
}

.feedback-slider__controls_left {
  margin-left: 10px;
  padding-right: 9px;
}

.feedback-slider__controls_right {
  padding-left: 9px;
}

.feedback-slider__icon {
  width: 15px;
  height: 14px;
  margin: auto;
}

.feedback-slider__icon_left {
  background-position: -253px -129px;
}

.feedback-slider__icon_right {
  background-position: -253px -151px ;
}





  .contacts {
    background-color: #e5fb00;
    height: 125px;
    padding-top: 48px;
    margin-bottom: 0;
  }

  .contacts a {
    text-transform: uppercase;
    line-height: 1;
    font-size: x-large;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
    color: #656e00;
  }

  .contacts .phone a::before {
    content: "";
    display: inline-block;
    background: url('img/sprites.png') no-repeat;
    background-position: 0 -43px;
    width: 31px;
    height: 31px;
    vertical-align: text-top;
  }

  .contacts .email a::before {
    content: "";
    display: inline-block;
    background: url('img/sprites.png') no-repeat;
    background-position: -35px -43px;
    width: 30px;
    height: 29px;
    vertical-align: text-top;
  }

  .contacts .message a::before {
    content: "";
    display: inline-block;
    background: url('img/sprites.png') no-repeat;
    background-position: -70px -45px;
    width: 28px;
    height: 25px;
    vertical-align: text-top;
  }

  .company_details {
    background-color: #04356c;
    padding-top: 45px;
    height: 195px;
  }

  .company_details_logo div {
    background-position: 0 0;
    width: 82px;
    height: 38px;
  }

  .company_details_goal {
    color: #4186d3;
    padding-left: 40px;
  }

  .company_details_button {
    padding-top: 4px;
  }

  .company_details_button div {
    width: 140px;
    height: 40px;
    background-color: #4186d3;
    color: #fff;
    padding-top: 8px;
    font-size: medium;
    margin: 0 auto;
  }

  .company_details_button a:hover {
    text-decoration: none;
  }
  .company_details_details {
    color: #4186d3;
    line-height: 1.3;
  }

  .company_details_details p:nth-child(1) {
    margin-bottom: 15px;
  }

  .company_details_details a {
    color: #fff;
  }
}